{erl_opts, [{parse_transform, lager_transform}, {src_dirs, ["src", "test"]},
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{deps_dir, "deps"}.
{deps, [
 {lager,   "2.0", {git, "git@github.com:basho/lager.git",     	   "2.0.2"}},
 {eper,    "0.*", {git, "git@github.com:massemanet/eper.git",      "master"}},
 {cowboy,  "0.*", {git, "git@github.com:extend/cowboy.git",   	   "master"}},
 {jiffy,   "0.*", {git, "git@github.com:davisp/jiffy.git",    	   "master"}},
 {ibrowse, "4.*", {git, "git@github.com:cmullaparthi/ibrowse.git", "master"}}
 ]}.
{require_min_otp_vsn, "R16B"}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{cover_enabled, true}.
{ct_log_dir, "log/ct"}.
{ct_extra_params,"-no_auto_compile -dir ebin -pa deps/*/ebin -logdir log/ct -smp enable -boot start_sasl -s lager -s crypto -ct_hooks cth_surefire -config config/gossip.config $ERL_ARGS "}.
